*{
    padding: 0;
    margin: 0;
    background-color: #F3F5FC;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    padding: 2%;
}

.logo{
    width: 7%;
    height: 50px;
}

.text_button{
    width: 55%;
    padding: 6% 4% 4% 4%;
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text_button textarea{
    width: 100%;
    height: 80%;
    padding: 0 0 0 6%;
    border: none;
    font-size: 30px;
    color: #0A3871;
    overflow: hidden; 
}

.text_button textarea::placeholder{
    font-size: 40px;
    color: #0A3871;
}

.text_button textarea:focus{
    outline: none;
    border: none;
}

.text_button p{
    font-size: 20px;
    padding: 1% 2%;
    color: gray;
}

.text_button .buttons{
    width: 100%;
}

.text_button .buttons button{
    padding: 2% 15%;
    margin: 0% 2%;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #0A3871;
    cursor: pointer;

}

.text_button .buttons .encriptar{
    background-color: #0A3871;
    color: white;
}



.resultado{
    width: 30%;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;    
    align-items: center;
    box-shadow: 0px 15px 30px gray;
    flex-direction: column;
}   

.resultado .cont{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    min-height: 40vh;

}

.resultado img{
    width: 100%;
    background-color: #ffffff;
}

.resultado  h3{
    margin: 3% 0;
    width: 80%;
    text-align: center;
    font-size: 30px;
    background-color: #ffffff;
}
.resultado .cont p{
    font-size: 20px;
    text-align: center;
    background-color: #ffffff;
    color: gray;
}

.resultado #resultado{
    width: 90%;
    word-wrap: break-word;
    text-align: center;
    color: gray;
    font-size: 20px;
    background-color: #ffffff;
    min-height: 40vh;
    padding-top: 10%;
}

.copy-button{
    padding: 2% 6%;
    border: #0A3871;
    border-radius: 10px;
    color: white;
    margin-top: 19%;
    background-color:#0A3871;
    cursor: pointer;
    font-size: 20px;
}

.copy-button:hover, .encriptar:hover{
    background-color: #114b92;
}
